// For flatpickr
.flatpickr-day {
    &.inRange {
        background: #bbdefb;
        border-color: #bbdefb;
        -webkit-box-shadow: -5px 0 0 #bbdefb, 5px 0 0 #bbdefb;
        box-shadow: -5px 0 0 #bbdefb, 5px 0 0 #bbdefb;
    }
    &.prevMonthDay.inRange {
        background: #bbdefb;
        border-color: #bbdefb;
    }
    &.today.inRange {
        background: #bbdefb;
        border-color: #bbdefb;
        color: white;
    }

    &.selected,
    &.startRange {
        background: #2196f3;
        border-color: #2196f3;
    }
}
.rangeMode .flatpickr-day {
    margin: 0;
}

// * For EDIT area
.EDIT__padding {
    position: relative;
    height: 96%;
    padding: 1rem 0 1rem;
    display: none;
}

.EDIT__btn_exit_wrapper,
.GROUP__btn_exit_wrapper {
    position: absolute;
    right: 0;
    top: 0;
}

.EDIT__btn_go_back_wrapper {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

.EDITPANEL__task {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 80%;
    margin: 0;
    width: 100%;
}

.EDIT__task_container {
    position: relative;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: none;
    height: 93%;
    margin-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0.5rem;
    padding: 0.5rem 0.2rem;
}

.EDIT__task_body {
    height: 10%;

    .titlebar {
        padding: 0 2em 0 1em;
    }
}

.EDIT__ask_add_task {
    display: none;
    position: relative;
    top: 40%;
    text-align: center;
    vertical-align: middle;
    padding: 0 20%;
}

.EDIT__confirm_container {
    position: relative;
    height: 15%;
    padding: 0 16px 16px;
    text-align: center;
}

.EDIT__select_task_container {
    height: 93%;
    margin-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0.5rem;
    padding: 0.5rem 0.2rem;
    display: none;
}

.EDIT__select_task_wrapper {
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;

    &:hover {
        background-color: whitesmoke;
        cursor: pointer;
    }

    h3,
    h5 {
        width: 90%;
    }

    h5 {
        font-weight: 500;
    }



    .EDIT__select_task_svg {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
