@media (min-width: 721px) {
    .one_quarter {
        display: block !important;
    }
    .GROUP__add_group_wrapper, .ACCOUNT__body {
        width: 720px;
        .GROUP__confirm_center .GROUP__btn_confirm {
            width: 70%;
        }
    }
}
@media (max-width: 720px) {
    .section {
        padding: 0rem 0 0 0 !important;
    }
    .box {
        height: 100vh !important;
    }
    .one_quarter {
        position: relative;
        display: none;
        background: rgb(228, 223, 220);
        z-index: 1000;
        width: 100% !important;
        height: 100%;
        min-height: 720px;
        margin-top: 0;
        padding-top: 2em !important;
    }
    .column_padding {
        padding: 2em 0 !important;
    }

    .titlebar {
        padding: 0 .75em 0 2em !important;
        .titlebar_text {
            margin-left: 5px;
        }
    }
    .MAIN__navigationbar {
        position: absolute !important;
        display: flex !important;
        left: 0 !important;
    }
    .menu_container {
        padding: 0 0.75em;
    }
    .MENU__exit_wrapper {
        display: block;
    }
    .card_container {
        display: inline-block !important;
        flex-wrap: nowrap;
    }
    .GROUP__add_group_wrapper, .ACCOUNT__body {
        width: 320px;

    }
    .ACCOUNT__ask_logout {
        position: relative;
        margin-top: 10px;
    }
}

@media (max-width: 380px) {
    .column_padding {
        padding: 2em 0 3em !important;
    }
}

@media (max-height: 580px) {
    .ACCOUNT__ask_logout {
        position: relative;
        margin-top: 0px;
        margin-bottom: 10px;
    }
}
