


@media (max-width: 720px) {
    .card_container {
        display: inline-block !important;
        flex-wrap: nowrap;
    }
    .one_quarter {
        width: 0 !important;
        display: none !important;
    }
    .section {
        padding: 0rem 0 0 0 !important;
    }
    .MAIN__navigationbar {
        position: absolute !important;
        display: flex !important;
        left: 0 !important;
    }

    // .titlebar_text {
    //     padding-left: 10px;
    //     left: 20px;
    // }

    .box {
        height: 100vh !important;
    }
}
@media (max-width: 470px) {
    .box {
        height: 100vh !important;
    }
    .MAIN__navigationbar {
        display: flex !important;
        left: 0 !important;
    }
    .card_title {
        width: 50%;
    }
}
@media (max-width: 380px) {
    .box {
        height: 100vh !important;
    }
    .MAIN__navigationbar {
        display: inline-flex !important;
        left: 0 !important;
    }


}
