@media (min-width: 721px) {
    .one_quarter {
        display: block !important;
    }
    .GROUP__add_group_wrapper, .ACCOUNT__body, .DeleteConfirm__wrapper {
        width: 720px;

        .GROUP__confirm_center .GROUP__btn_confirm {
            width: 70%;
        }
    }
    .column.box {
        display: block !important;
    }
    .MENU__btn_exit_wrapper {
        display: none !important;
    }
}
@media (max-width: 720px) {
    body {
        height:100vh;
    }
    .section {
        padding: 0rem 0 0 0 !important;
        height:100%
    }
    .SECTION__columns{
        height: 100%;
    }
    .PANEL__card {
        height: 87% !important;
    }
    .box {
        height: 100vh !important;
    }
    .one_quarter {
        position: relative;
        display: none;
        background: rgb(228, 223, 220);
        z-index: 1000;
        width: 100% !important;
        height: 100%;
        margin-top: 0;
        padding-top: 2em !important;
    }
    .column_padding {
        padding: 2em 0 !important;
    }

    .titlebar {
        padding: 0 .75em 0 2em !important;
        .titlebar_text {
            margin-left: 10px;
        }
    }
    .MAIN__navigationbar {
        position: absolute !important;
        display: flex !important;
        left: 0 !important;
    }
    .menu_container {
        padding: 0 0.75em;
    }

    .MENU__exit_wrapper {
        display: block;
    }
    .card_container {
        display: inline-block !important;
        flex-wrap: nowrap;
    }
    .GROUP__add_group_wrapper, .ACCOUNT__body, .DeleteConfirm__wrapper {
        width: 300px;
        max-height: 225px;

    }
    .DeleteConfirm__btn_confirm {
        margin-top:15px;
    }
    .ACCOUNT__ask_logout {
        position: absolute;
        bottom: 5em;
    }
}

@media (max-width: 363px) {
    .card_container {
        width: 100%;
    }
    // .card_title {
    //     width: 30%;
    // }
    .card_header_bottom_fill {
        width: 85% !important;
    }
    .card_header_options {
        right: 40px !important;
    }
    .card_body.card_width {
        min-width: unset !important;
    }
    .task_container{
        width: 92%  !important;
    }

}

@media (max-height: 740px) {
    .menu_body{
        max-height: 450px;
    }
}