:root {
    --font-color: #090821;
    --font-color-gray: #6e6e6e;
    --bg-color: #dae5ed;
    --bg-color2: #d0dfeb;
    --afont-color: #5e5e5e;
    --dbg-color: rgba(0, 0, 0, 0.1);
    --dbgh-color: rgba(0, 0, 0, 0.2);
    --dbga-color: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
    --font-color: #f8f8f2;
    --bg-color: #282a36;
    --afont-color: #3cefff;
    --dbg-color: rgba(255, 255, 255, 0.1);
    --dbgh-color: rgba(255, 255, 255, 0.2);
    --dbga-color: rgba(255, 255, 255, 0.3);
}

.EDIT__textarea {
    height: 90%;

    .EDIT__textarea_container {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;

        .EDIT__textarea_body {
            width: 100%;
        }
    }
}
.EDIT__textarea_tools_body {
    background-color: var(--bg-color);
    width: 100%;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    font-family: sans-serif;

    .EDIT__textarea_tools {
        flex: 0 0 auto;

        button:hover {
            color: gray;
        }
    }
}

.EDIT__textarea_panel {
    display: flex;
    width: 100%;
    height: 95%;
    word-break: break-all;

    #EDIT__textarea_left {
        transition: width 0.2s, padding 0.4s;
        width: 50%;

        textarea {
            width: 100%;
            border-right: 2px dashed rgba(146, 146, 146, 0.432);
            // transition: width 0.2s, padding 0.4s;
        }
    }

    #EDIT__textarea_right {
        overflow-y: scroll;
        background: white;
        width: 50%;
        transition: width 0.2s, padding 0.4s;
    }
    color: g;
}

.EDIT__textarea_bottom_panel {
    background-color: var(--bg-color);
    font-family: sans-serif;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    button:hover {
        color: gray;
    }
}

.EDIT__textarea,
.task_description, .enlarged_background {
    * {
        box-sizing: border-box;
        outline: 0;
        border: 0;
    }

    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--dbg-color);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--dbgh-color);
    }

    ::-webkit-scrollbar-thumb:active {
        background: var(--dbga-color);
    }

    ::placeholder {
        color: var(--font-color-gray);
    }

    ::selection {
        background: #c6d5dd;
    }

    a {
        display: inline-flex;
        border-bottom: 2px solid var(--afont-color);
        color: inherit;
        text-decoration: none;
        align-items: center;
        justify-content: center;
    }

    button {
        padding: 8px 16px;
        background-color: transparent;
        color: var(--afont-color);
        font-weight: 700;
        font-size: 18px;
        font-family: sans-serif;
        cursor: pointer;
    }

    .enlarged__btn_exit {
        padding: 8px 2px 8px 16px;
    }

    textarea {
        z-index: 0;
        display: flex;
        padding: 16px;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        color: var(--font-color);
        line-height: 2;
        resize: none;
        flex-grow: 1;
    }

    .markdown {
        z-index: 110;
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding: 16px;
        counter-reset: line;
        font-family: sans-serif;
        flex-grow: 1;
    }

    // Markdown CSS
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 6px;
    }
    pre {
        display: block;
        padding: 0.5em;
        color: #333;
        background: #f1f1f1;
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        border: 1px solid #e1e1e1;
        border-radius: 4px;
        font-size: 90%;
        white-space: break-spaces;
        // margin-top: 1px;
    }
    p code {
        padding: 0.2em 0.5em;
        color: #333;
        background: #f1f1f1;
        font-family: "Roboto Mono", "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
        border: 1px solid #e1e1e1;
        border-radius: 4px;
        font-size: 90%;
    }
    p a, a {
        color: #337ab7;
        &:hover {
            color: #23527c;
        }
    }
    p {
        margin: 4px 0 4px 0;
    }
    ul {
        list-style-type: disc;
    }
    ul,
    ol {
        list-style-position: inside;
    }

    ol ul {
        padding-inline-start: 40px;
    }

    blockquote {
        font-size: 100%;
        border-left: 5px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
    }

    hr {
        display: block !important;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
    }
    img {
        max-width: 100%;
        width: auto;
        height: auto;
    }
}
