@import './buttons';
@import './navigation';
@import './edit';
@import './textarea';
@import './account';
@import './resize';

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(128, 128, 128, 0.219) /*white*/ transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: /*white*/ transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.219);
    border-radius: 20px;
    border: 3px solid /*white*/ transparent;
}

body {
    overflow: hidden;
    font-family: Sen, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* * Screen section */

.section {
    padding: 1.25rem 1.25rem;
}

.SECTION__columns {
    display: flex;
}

/* * columns */

.column {
    // display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.column_padding {
    // padding:  .75rem;
    padding: 0rem 0.5rem 0.75rem 0;
}

.one_quarter {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 17%;
}

/* * MAIN column */
.box {
    background-image: url(./../assets/Pineapplebackground.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
    width: 100%;
    height: 94vh;
    position: relative;
}

.box_filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgba(255, 255, 255, 0.2); /*Make sure this color has an opacity of less than 1*/
    backdrop-filter: blur(10px); /*This be the blur*/
    z-index: 3;
}

.MAIN__padding {
    position: relative;
    height: 90%;
    padding: 1rem 0 1rem;
}

.titlebar {
    position: relative;
    padding: 0 2rem;
    display: flex;
    font-family: Sen, Arial, Helvetica, sans-serif;

    .titlebar_text {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0;
        margin-right: 10px;

        input {
            position: relative;
            font-size: 22px;
            background: transparent;
            border: 1px solid transparent;
            border-radius: 3px;
            color: #2a3c4e;
            font-family: Sen, Arial, Helvetica, sans-serif;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            height: 100%;
            padding: 0;

            &:hover {
                border: 1px solid #b7b8b9;
            }
        }
    }
    .titlebar_date {
        position: relative;
        display: flex;
        width: 5%;
        right: 0;
        input {
            width: 100%;
        }
    }
}

.PANEL__card {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 90%;
    z-index: 5;
}

.card_container {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 1em 1em 1em 1em;
    font-family: sans-serif;
    position: relative;
    word-break: break-all;
    // z-index: 10;
}

.card_body {
    background: transparent;
    color: #4a4a4a;
    max-height: 300px;
    overflow-y: scroll;
    width: 100%;
    z-index: 5;

    &.card_width {
        min-width: 21em;
    }
}

.card_header {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 10px;

    .card_header_bottom_fill {
        width: 95%; //96%
        height: 5px;
        position: absolute;
        display: flex;
        bottom: -5px;
        background: white;
        border-radius: 0 0 1rem 0;
        z-index: 5;
        cursor: pointer;
    }

    .card_title {
        font-size: 14px;
        font-weight: bold;
        padding: 0px 27px 0px 27px;
        background: #ffffff;
        border-radius: 10px 10px 1px 1px;
        overflow: hidden;
        max-width: 50%;
        cursor: pointer;
        z-index: 5;
    }

    .card_header_options {
        position: absolute;
        right: 20px;
        bottom: -5px;

        button {
            margin-right: 5px;
        }
    }
}
.task_container {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1px 1px 30px 5px;
    box-shadow: 0 4px 2px -2px rgba(10, 10, 10, 0.1);
    width: 100%;
    touch-action: manipulation;
}

.task_body {
    background-color: rgb(255, 255, 255);
    border-radius: 1px 20px 20px 5px;
    border: 1px rgba(0, 0, 0, 0.082);
    padding: 0px 20px 0px 30px;
    margin-bottom: 1px;
    cursor: pointer;
    display: block;
    position: relative;

    &::after {
        content: '';
        height: calc(100% - 15px);
        background: rgb(63, 63, 136);
        width: 7px;
        position: absolute;
        top: 5px;
        left: 10px;
        border-radius: 20px;
    }

    .task_options {
        display: none;
        top: 10px;
        flex-flow: row-reverse;
        right: 25px;
    }

    &:hover {
        .task_options {
            position: absolute;
            display: flex !important;
            height: 30px;
        }
        &:after {
            background: gray;
        }
    }
    .task_title {
        width: calc(100% - 67px);
        padding: 15px 0 5px 0;
        font-weight: bold;
    }

    .task_description {
        min-height: 25px;
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px 0 15px;
    }

    .task_date {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
    }
}

// ? Sort Stuff
.SORT__container {
    position: relative;
    width: 70%;
    margin-bottom: 10px;
    display: none;
}

.SORT__body {
    position: relative;
    left: 20px;
}

.SORT__btn_sort_card,
.SORT__btn_sort_task {
    display: none;
}

.sortable-selected {
    .card_header_bottom_fill,
    .card_title,
    .task_body {
        background-color: bisque;
    }
}

// ? SVG

.svg-inline--fa.fa-w-14 {
    width: 0.875em;
}
.svg-inline--fa.fa-w-16 {
    width: 1em;
}
.svg-inline--fa.fa-w-18 {
    width: 1.25em;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
.fa-sm {
    font-size: 0.875em;
}
.fa-lg {
    font-size: 1.25em;
}

// ? LOADING SCREEN
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-image: url(https://i.imgur.com/N2dWsjq.gif);
    // background-image: url("https://i.pinimg.com/originals/48/6a/a0/486aa0fa1658b7522ecd8918908ece40.gif") ;
    background-color: rgba(192, 192, 192, 0.55);
    background-repeat: no-repeat;
    background-position: center;
}

// ? Enlarge Task
.box_filter2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgba(255, 255, 255, 0.2); /*Make sure this color has an opacity of less than 1*/
    backdrop-filter: blur(10px); /*This be the blur*/
    z-index: 10;
}

.enlarged_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 96%;
    height: 96%;
    background-color: rgb(255, 252, 248);
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    z-index: 11;
    padding: 20px;
    overflow-y: scroll;
}

.enlarged_title {
    font-size: xx-large;
    margin-bottom: 10px;
}

.enlarged_desc {
    position: relative;
    padding: 5px 5px 20px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    margin-bottom: 5px;
}

.enlarged_date {
    font-size: small;
}
