.button {
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  outline: none;
  font-family: Sen, sans-serif;
}

.btn_border_10 {
  border-radius: 10px;
}

.btn_border_15 {
  border-radius: 15px;
}

.btn_border_20 {
  border-radius: 20px;
}

.btn_padding {
  padding: 0;
  height: 30px;
}

.btn_color_blue {
  background-color: royalblue;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.btn_color_blue:hover {
  background-color: #3c61cf;
}

.btn_color_red {
  background-color: #ce0000;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.btn_color_red:hover {
  background-color: #ad0000;
}

.btn_color_green {
  background-color: green;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.btn_color_green:hover {
  background-color: #007900;
}

.btn_color_white {
  background-color: white;
  border-color: transparent;
  color: black;
  cursor: pointer;
}

.btn_color_white:hover {
  background-color: whitesmoke;
}

.btn_color_whitesmoke {
  background-color: #fcfcfc;
  border-color: transparent;
  color: black;
  cursor: pointer;
}

.btn_color_whitesmoke:hover {
  background-color: whitesmoke;
}

.task_options .button {
  padding: 0;
  margin: 0 2.5px 0;
  height: 100%;
}

.icon {
  pointer-events: none;
}

.icon_up {
  position: relative;
  top: -2px;
  width: 1.5em;
}

.icon_centered {
  position: relative;
  width: 1.5em;
}

.EDIT__btn_exit,
.MENU__btn_exit,
.GROUP__btn_exit, .ACCOUNT__btn_exit, .DeleteConfirm__btn_exit {
  background: transparent;
  color: black;
  padding: 0;
  z-index: 50;
  cursor: pointer;
}

.EDIT__btn_exit:hover,
.MENU__btn_exit:hover,
.GROUP__btn_exit:hover, .ACCOUNT__btn_exit:hover, .DeleteConfirm__btn_exit:hover {
  color: #830000;
}

.EDIT__btn_go_back {
  background: transparent;
  color: black;
  padding: 0;
  cursor: pointer;
  z-index: 50;
}

.EDIT__btn_go_back:hover {
  color: #830000;
}

.EDIT__confirm_right {
  display: none;
  position: relative;
  width: 100%;
  top: -10px;
}

.EDIT__confirm_right .EDIT__btn_confirm_and_add_task {
  position: relative;
  right: 0;
  margin-left: auto;
  overflow: hidden;
  color: #fff;
  max-width: 30px;
  -webkit-transition: max-width 0.2s ease-in-out;
  -webkit-transition: max-width 0.2s linear;
  transition: max-width 0.2s linear;
}

.EDIT__confirm_right .EDIT__btn_confirm_and_add_task svg {
  padding-right: 10px;
}

.EDIT__confirm_right .EDIT__btn_confirm_and_add_task .icon {
  position: relative;
  left: -1px;
  display: block;
  white-space: nowrap;
}

.EDIT__confirm_right .EDIT__btn_confirm_and_add_task:hover {
  max-width: 300px;
}

.EDIT__confirm_left {
  display: none;
  position: relative;
  width: 100%;
  top: -10px;
}

.EDIT__confirm_left .EDIT__btn_confirm_and_go_back {
  position: relative;
  left: 0;
  overflow: hidden;
  color: #fff;
  max-width: 30px;
  -webkit-transition: max-width 0.2s ease-in-out;
  -webkit-transition: max-width 0.2s linear;
  transition: max-width 0.2s linear;
}

.EDIT__confirm_left .EDIT__btn_confirm_and_go_back svg {
  padding-right: 10px;
}

.EDIT__confirm_left .EDIT__btn_confirm_and_go_back .icon {
  position: relative;
  left: -2px;
  display: block;
  white-space: nowrap;
}

.EDIT__confirm_left .EDIT__btn_confirm_and_go_back:hover {
  max-width: 280px;
}

.EDIT__confirm_center {
  position: relative;
}

.EDIT__confirm_center .EDIT__btn_confirm {
  position: relative;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.EDIT__confirm_center .EDIT__btn_confirm_edit {
  display: none;
  position: relative;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.GROUP__confirm_center, .DeleteConfirm__confirm_center {
  position: relative;
  width: 100%;
  text-align: center;
}

.GROUP__confirm_center .GROUP__btn_confirm, .GROUP__confirm_center .DeleteConfirm__btn_confirm, .DeleteConfirm__confirm_center .GROUP__btn_confirm, .DeleteConfirm__confirm_center .DeleteConfirm__btn_confirm {
  position: relative;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.DeleteConfirm__btn_confirm {
  margin-top: 20px;
}

.GROUP__btn_delete_group {
  position: absolute;
  right: 10px;
  padding: 0;
  top: 2.5px;
  z-index: 100;
}

.btn_add_card, .MAIN__padding .titlebar_text, .MAIN__padding hr {
  display: none;
}

.GROUP__add_group_container, .DeleteConfirm__container {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  background-color: rgba(255, 255, 255, 0.35);
}

.GROUP__add_group_wrapper, .DeleteConfirm__wrapper {
  position: absolute;
  background-color: #dfdad7;
  z-index: 1002;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 150px;
  border-radius: 5px;
  margin: auto;
  top: -200px;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.GROUP__add_group_wrapper .GROUP__header_wrapper, .GROUP__add_group_wrapper .DeleteConfirm__header_wrapper, .GROUP__add_group_wrapper .DeleteConfirm__header_wrapper_title, .DeleteConfirm__wrapper .GROUP__header_wrapper, .DeleteConfirm__wrapper .DeleteConfirm__header_wrapper, .DeleteConfirm__wrapper .DeleteConfirm__header_wrapper_title {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  font-family: sans-serif;
  padding-top: 0.25em;
}

.GROUP__add_group_wrapper .titlebar, .DeleteConfirm__wrapper .titlebar {
  padding: 1rem 1rem 1rem 1rem !important;
}

.DeleteConfirm__header_wrapper_title {
  font-size: x-large !important;
}

.GROUP__ask_add_group_container {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}

.GROUP__ask_add_group_container .GROUP__ask_add_group_body {
  position: relative;
  top: 40%;
  text-align: center;
  vertical-align: middle;
  padding: 0 20%;
  z-index: 50;
}

.menu_container {
  margin-top: 1em;
  max-height: 86vh;
  overflow-y: scroll;
}

.MENU__add_group {
  position: relative;
  text-align: center;
}

.MENU__add_group .MENU__btn_add_group {
  position: relative;
  text-align: center;
  width: 95%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.MENU__btn_exit_wrapper {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.menu_body {
  max-height: 600px;
  overflow-y: scroll;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.menu_label {
  color: #7a7a7a;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.menu_label:not(:first-child) {
  margin-top: 1em;
}

.menu_label:not(:last-child) {
  margin-bottom: 1em;
}

.menu_list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  line-height: 1.25;
}

.menu_list li {
  position: relative;
  min-height: 36px;
}

.menu_list a {
  position: relative;
  border-radius: 2px;
  color: #4a4a4a;
  display: block;
  padding: 0.5em 0.75em;
  min-height: 20px;
}

.menu_list .button {
  height: 30px;
  display: none;
  z-index: 100;
}

.menu_list a:hover {
  background-color: #f5f5f5;
  color: #363636;
}

.menu_list li:hover .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_list li.active {
  background-color: #f7f7f7;
  text-align: center;
  font-weight: bold;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

.MAIN__navigationbar {
  position: relative;
  display: none;
  z-index: 1;
}

.flatpickr-day.inRange {
  background: #bbdefb;
  border-color: #bbdefb;
  -webkit-box-shadow: -5px 0 0 #bbdefb, 5px 0 0 #bbdefb;
  box-shadow: -5px 0 0 #bbdefb, 5px 0 0 #bbdefb;
}

.flatpickr-day.prevMonthDay.inRange {
  background: #bbdefb;
  border-color: #bbdefb;
}

.flatpickr-day.today.inRange {
  background: #bbdefb;
  border-color: #bbdefb;
  color: white;
}

.flatpickr-day.selected, .flatpickr-day.startRange {
  background: #2196f3;
  border-color: #2196f3;
}

.rangeMode .flatpickr-day {
  margin: 0;
}

.EDIT__padding {
  position: relative;
  height: 96%;
  padding: 1rem 0 1rem;
  display: none;
}

.EDIT__btn_exit_wrapper,
.GROUP__btn_exit_wrapper, .ACCOUNT__btn_exit_wrapper, .DeleteConfirm__btn_exit_wrapper {
  position: absolute;
  right: 0;
  top: 0;
}

.EDIT__btn_go_back_wrapper {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.EDITPANEL__task {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 80%;
  margin: 0;
  width: 100%;
}

.EDIT__task_container {
  position: relative;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: none;
  height: 93%;
  margin-bottom: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0.5rem;
  padding: 0.5rem 0.2rem;
}

.EDIT__task_body {
  height: 10%;
}

.EDIT__task_body .titlebar {
  padding: 0 2em 0 1em;
}

.EDIT__ask_add_task {
  display: none;
  position: relative;
  top: 40%;
  text-align: center;
  vertical-align: middle;
  padding: 0 20%;
}

.EDIT__confirm_container {
  position: relative;
  height: 15%;
  padding: 0 16px 16px;
  text-align: center;
}

.EDIT__select_task_container {
  height: 93%;
  margin-bottom: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0.5rem;
  padding: 0.5rem 0.2rem;
  display: none;
  list-style-position: inside;
}

.EDIT__select_task_wrapper {
  position: relative;
  background-color: white;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

.EDIT__select_task_wrapper:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.EDIT__select_task_wrapper h3,
.EDIT__select_task_wrapper h5 {
  width: 90%;
}

.EDIT__select_task_wrapper h5 {
  font-weight: 500;
}

.EDIT__select_task_wrapper .EDIT__select_task_svg {
  position: absolute;
  top: 10px;
  right: 10px;
}

:root {
  --font-color: #090821;
  --font-color-gray: #6e6e6e;
  --bg-color: #dae5ed;
  --bg-color2: #d0dfeb;
  --afont-color: #5e5e5e;
  --dbg-color: rgba(0, 0, 0, 0.1);
  --dbgh-color: rgba(0, 0, 0, 0.2);
  --dbga-color: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
  --font-color: #f8f8f2;
  --bg-color: #282a36;
  --afont-color: #3cefff;
  --dbg-color: rgba(255, 255, 255, 0.1);
  --dbgh-color: rgba(255, 255, 255, 0.2);
  --dbga-color: rgba(255, 255, 255, 0.3);
}

.EDIT__textarea {
  height: 90%;
}

.EDIT__textarea .EDIT__textarea_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.EDIT__textarea .EDIT__textarea_container .EDIT__textarea_body {
  width: 100%;
}

.EDIT__textarea_tools_body {
  background-color: var(--bg-color);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  font-family: sans-serif;
}

.EDIT__textarea_tools_body .EDIT__textarea_tools {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.EDIT__textarea_tools_body .EDIT__textarea_tools button:hover {
  color: gray;
}

.EDIT__textarea_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 95%;
  word-break: break-all;
  color: g;
}

.EDIT__textarea_panel #EDIT__textarea_left {
  -webkit-transition: width 0.2s, padding 0.4s;
  transition: width 0.2s, padding 0.4s;
  width: 50%;
}

.EDIT__textarea_panel #EDIT__textarea_left textarea {
  width: 100%;
  border-right: 2px dashed rgba(146, 146, 146, 0.432);
}

.EDIT__textarea_panel #EDIT__textarea_right {
  overflow-y: scroll;
  background: white;
  width: 50%;
  -webkit-transition: width 0.2s, padding 0.4s;
  transition: width 0.2s, padding 0.4s;
}

.EDIT__textarea_bottom_panel {
  background-color: var(--bg-color);
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.EDIT__textarea_bottom_panel button:hover {
  color: gray;
}

.EDIT__textarea *,
.task_description * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  border: 0;
}

.EDIT__textarea ::-webkit-scrollbar,
.task_description ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.EDIT__textarea ::-webkit-scrollbar-thumb,
.task_description ::-webkit-scrollbar-thumb {
  background: var(--dbg-color);
}

.EDIT__textarea ::-webkit-scrollbar-thumb:hover,
.task_description ::-webkit-scrollbar-thumb:hover {
  background: var(--dbgh-color);
}

.EDIT__textarea ::-webkit-scrollbar-thumb:active,
.task_description ::-webkit-scrollbar-thumb:active {
  background: var(--dbga-color);
}

.EDIT__textarea ::-webkit-input-placeholder,
.task_description ::-webkit-input-placeholder {
  color: var(--font-color-gray);
}

.EDIT__textarea :-ms-input-placeholder,
.task_description :-ms-input-placeholder {
  color: var(--font-color-gray);
}

.EDIT__textarea ::-ms-input-placeholder,
.task_description ::-ms-input-placeholder {
  color: var(--font-color-gray);
}

.EDIT__textarea ::placeholder,
.task_description ::placeholder {
  color: var(--font-color-gray);
}

.EDIT__textarea ::-moz-selection,
.task_description ::-moz-selection {
  background: #c6d5dd;
}

.EDIT__textarea ::selection,
.task_description ::selection {
  background: #c6d5dd;
}

.EDIT__textarea a,
.task_description a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-bottom: 2px solid var(--afont-color);
  color: inherit;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.EDIT__textarea button,
.task_description button {
  padding: 8px 16px;
  background-color: transparent;
  color: var(--afont-color);
  font-weight: 700;
  font-size: 18px;
  font-family: sans-serif;
  cursor: pointer;
}

.EDIT__textarea textarea,
.task_description textarea {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--font-color);
  line-height: 2;
  resize: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.EDIT__textarea .markdown,
.task_description .markdown {
  z-index: 110;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  padding: 16px;
  counter-reset: line;
  font-family: sans-serif;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.EDIT__textarea h1,
.EDIT__textarea h2,
.EDIT__textarea h3,
.EDIT__textarea h4,
.EDIT__textarea h5,
.EDIT__textarea h6,
.task_description h1,
.task_description h2,
.task_description h3,
.task_description h4,
.task_description h5,
.task_description h6 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 6px;
}

.EDIT__textarea pre,
.task_description pre {
  display: block;
  padding: 0.5em;
  color: #333;
  background: #f1f1f1;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 90%;
  white-space: break-spaces;
}

.EDIT__textarea p code,
.task_description p code {
  padding: 0.2em 0.5em;
  color: #333;
  background: #f1f1f1;
  font-family: "Roboto Mono", "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 90%;
}

.EDIT__textarea p a,
.task_description p a {
  color: #337ab7;
}

.EDIT__textarea p a:hover,
.task_description p a:hover {
  color: #23527c;
}

.EDIT__textarea p,
.task_description p {
  margin: 4px 0 4px 0;
}

.EDIT__textarea ul,
.task_description ul {
  list-style-type: disc;
}

.EDIT__textarea ul,
.EDIT__textarea ol,
.task_description ul,
.task_description ol {
  list-style-position: inside;
}

.EDIT__textarea ol ul,
.task_description ol ul {
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.EDIT__textarea blockquote,
.task_description blockquote {
  font-size: 100%;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

.EDIT__textarea hr,
.task_description hr {
  display: block !important;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.EDIT__textarea img,
.task_description img {
  max-width: 100%;
}

.ACCOUNT__container {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  background-color: rgba(255, 255, 255, 0.35);
}

.ACCOUNT__body {
  position: absolute;
  background-color: #dfdad7;
  z-index: 1002;
  max-height: 180px;
  border-radius: 5px;
  margin: auto;
  top: -200px;
  left: 0;
  bottom: 0;
  right: 0;
}

.ACCOUNT__body .ACCOUNT__header_wrapper {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  font-family: sans-serif;
  padding-top: 1.25em;
}

.ACCOUNT__body .ACCOUNT__header_wrapper span {
  font-weight: lighter;
}

.ACCOUNT__logout {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20px;
}

.ACCOUNT__logout button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.ACCOUNT__ask_logout {
  position: absolute;
  bottom: 0;
}

@media (min-width: 721px) {
  .one_quarter {
    display: block !important;
  }
  .GROUP__add_group_wrapper, .ACCOUNT__body, .DeleteConfirm__wrapper {
    width: 720px;
  }
  .GROUP__add_group_wrapper .GROUP__confirm_center .GROUP__btn_confirm, .ACCOUNT__body .GROUP__confirm_center .GROUP__btn_confirm, .DeleteConfirm__wrapper .GROUP__confirm_center .GROUP__btn_confirm {
    width: 70%;
  }
  .column.box {
    display: block !important;
  }
  .MENU__btn_exit_wrapper {
    display: none !important;
  }
}

@media (max-width: 720px) {
  body {
    height: 100vh;
  }
  .section {
    padding: 0rem 0 0 0 !important;
    height: 100%;
  }
  .SECTION__columns {
    height: 100%;
  }
  .PANEL__card {
    height: 87% !important;
  }
  .box {
    height: 100vh !important;
  }
  .one_quarter {
    position: relative;
    display: none;
    background: #e4dfdc;
    z-index: 1000;
    width: 100% !important;
    height: 100%;
    margin-top: 0;
    padding-top: 2em !important;
  }
  .column_padding {
    padding: 2em 0 !important;
  }
  .titlebar {
    padding: 0 .75em 0 2em !important;
  }
  .titlebar .titlebar_text {
    margin-left: 10px;
  }
  .MAIN__navigationbar {
    position: absolute !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    left: 0 !important;
  }
  .menu_container {
    padding: 0 0.75em;
  }
  .MENU__exit_wrapper {
    display: block;
  }
  .card_container {
    display: inline-block !important;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .GROUP__add_group_wrapper, .ACCOUNT__body, .DeleteConfirm__wrapper {
    width: 300px;
    max-height: 225px;
  }
  .DeleteConfirm__btn_confirm {
    margin-top: 15px;
  }
  .ACCOUNT__ask_logout {
    position: absolute;
    bottom: 5em;
  }
}

@media (max-width: 363px) {
  .card_container {
    width: 100%;
  }
  .card_header_bottom_fill {
    width: 85% !important;
  }
  .card_header_options {
    right: 40px !important;
  }
  .card_body.card_width {
    min-width: unset !important;
  }
  .task_container {
    width: 92%  !important;
  }
}

@media (max-height: 740px) {
  .menu_body {
    max-height: 450px;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(128, 128, 128, 0.219) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.219);
  border-radius: 20px;
  border: 3px solid transparent;
}

body {
  overflow: hidden;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* * Screen section */
.section {
  padding: 1.25rem 1.25rem;
}

.SECTION__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* * columns */
.column {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.column_padding {
  padding: 0rem 0.5rem 0.75rem 0;
}

.one_quarter {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 17%;
}

/* * MAIN column */
.box {
  background-image: url(./../assets/Pineapplebackground.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
  width: 100%;
  height: 94vh;
  position: relative;
}

.box_filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  /*Make sure this color has an opacity of less than 1*/
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  /*This be the blur*/
  z-index: 1;
}

.MAIN__padding {
  position: relative;
  height: 90%;
  padding: 1rem 0 1rem;
}

.titlebar {
  position: relative;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titlebar .titlebar_text {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  margin-right: 10px;
}

.titlebar .titlebar_text input {
  position: relative;
  font-size: 22px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #2a3c4e;
  font-family: Sen;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  padding: 0;
}

.titlebar .titlebar_text input:hover {
  border: 1px solid #b7b8b9;
}

.titlebar .titlebar_date {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5%;
  right: 0;
}

.titlebar .titlebar_date input {
  width: 100%;
}

.PANEL__card {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
}

.card_container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1em 1em 1em 1em;
  font-family: sans-serif;
  position: relative;
  word-break: break-all;
  z-index: 10;
}

.card_body {
  background: transparent;
  color: #4a4a4a;
  max-height: 300px;
  overflow-y: scroll;
  width: 100%;
}

.card_body.card_width {
  min-width: 21em;
}

.card_header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 10px;
}

.card_header .card_header_bottom_fill {
  width: 95%;
  height: 5px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -5px;
  background: white;
  border-radius: 0 0 1rem 0;
  z-index: 1;
  cursor: pointer;
}

.card_header .card_title {
  font-size: 14px;
  font-weight: bold;
  padding: 0px 27px 0px 27px;
  background: #ffffff;
  border-radius: 10px 10px 1px 1px;
  overflow: hidden;
  max-width: 50%;
  cursor: pointer;
}

.card_header .card_header_options {
  position: absolute;
  right: 20px;
  bottom: -5px;
}

.card_header .card_header_options button {
  margin-right: 5px;
}

.task_container {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 1px 1px 30px 5px;
  -webkit-box-shadow: 0 4px 2px -2px rgba(10, 10, 10, 0.1);
          box-shadow: 0 4px 2px -2px rgba(10, 10, 10, 0.1);
  width: 100%;
}

.task_body {
  background-color: white;
  border-radius: 1px 20px 20px 5px;
  border: 1px rgba(0, 0, 0, 0.082);
  padding: 0px 20px 0px 30px;
  margin-bottom: 1px;
  cursor: pointer;
  display: block;
  position: relative;
}

.task_body::after {
  content: "";
  height: calc(100% - 15px);
  background: #3f3f88;
  width: 7px;
  position: absolute;
  top: 5px;
  left: 10px;
  border-radius: 20px;
}

.task_body .task_options {
  display: none;
  top: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  right: 25px;
}

.task_body:hover .task_options {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}

.task_body:hover:after {
  background: gray;
}

.task_body .task_title {
  width: calc(100% - 67px);
  padding: 15px 0 5px 0;
  font-weight: bold;
}

.task_body .task_description {
  min-height: 25px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 0 15px;
}

.task_body .task_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
}

.SORT__container {
  position: relative;
  width: 70%;
  margin-bottom: 10px;
  display: none;
}

.SORT__body {
  position: relative;
  left: 20px;
}

.SORT__btn_sort_card, .SORT__btn_sort_task {
  display: none;
}

.sortable-selected .card_header_bottom_fill, .sortable-selected .card_title,
.sortable-selected .task_body {
  background-color: bisque;
}

.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

.svg-inline--fa.fa-w-18 {
  width: 1.25em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.fa-sm {
  font-size: 0.875em;
}

.fa-lg {
  font-size: 1.25em;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/48/6a/a0/486aa0fa1658b7522ecd8918908ece40.gif");
  background-color: rgba(192, 192, 192, 0.75);
  background-color: rgba(192, 192, 192, 0.55);
  background-repeat: no-repeat;
  background-position: center;
}
/*# sourceMappingURL=styles.css.map */